<div class="container-main" appClickOutside (clickOutside)="closeDialog()">
    <div class="form-container">
        <div class="legend-header">
            <span>{{ signInTab() ? 'Welcome Back' : 'Get Started' }}</span>
            <button class="close-button" (click)="closeDialog()" aria-label="Close dialog">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </button>
        </div>

        @if (signInTab()) {
        <div class="oath2-buttons">
            <button type="button" class="google-button" (click)="signInWithGoogle()" aria-label="Continue with Google">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill="#4285F4"
                        d="M23.745 12.27c0-.79-.07-1.54-.19-2.27h-11.3v4.51h6.47c-.29 1.48-1.14 2.73-2.4 3.58v3h3.89c2.26-2.09 3.53-5.17 3.53-8.82z" />
                    <path fill="#34A853"
                        d="M12.255 24c3.24 0 5.95-1.08 7.93-2.91l-3.89-3c-1.08.72-2.45 1.16-4.04 1.16-3.11 0-5.74-2.11-6.67-4.94h-4.02v3.09c1.97 3.92 6.02 6.6 10.69 6.6z" />
                    <path fill="#FBBC05"
                        d="M5.585 14.31c-.25-.72-.38-1.49-.38-2.31s.14-1.59.38-2.31v-3.09h-4.02c-.82 1.62-1.29 3.44-1.29 5.4s.47 3.78 1.29 5.4l4.02-3.09z" />
                    <path fill="#EA4335"
                        d="M12.255 4.75c1.77 0 3.35.61 4.6 1.8l3.45-3.45c-2.07-1.94-4.78-3.1-8.05-3.1-4.67 0-8.72 2.68-10.69 6.6l4.02 3.09c.93-2.83 3.56-4.94 6.67-4.94z" />
                </svg>
                <span>Continue with Google</span>
            </button>
            <button type="button" class="github-button" (click)="signInWithGithub()" aria-label="Continue with Github">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                    <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
                <span>Continue with Github</span>
            </button>
        </div>

        <div class="divider">
            <span>or continue with email</span>
        </div>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSignin()">
            <div class="form-field">
                <div class="form-field-container">
                    <input type="email" formControlName="username" placeholder="Email or Username" class="form-input"
                        aria-label="Email or Username"
                        [ngClass]="{'is-invalid': hasError(loginForm.controls.username)}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                    </div>
                </div>
                @if (hasError(loginForm.controls.username)) {
                <div class="invalid-feedback">
                    @if (hasError(loginForm.controls.username, 'required')) {
                    Username is required
                    }
                    @if (hasError(loginForm.controls.username, 'minlength')) {
                    Username must be at least 4 characters
                    }
                    @if (hasError(loginForm.controls.username, 'maxlength')) {
                    Username cannot exceed 35 characters
                    }
                </div>
                }
            </div>
            <div class="form-field">
                <div class="form-field-container">
                    <input type="password" formControlName="password" placeholder="Password" class="form-input"
                        aria-label="Password" [ngClass]="{'is-invalid': hasError(loginForm.controls.password)}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                        </svg>
                    </div>
                </div>
                @if (hasError(loginForm.controls.password)) {
                <div class="invalid-feedback">
                    @if (hasError(loginForm.controls.password, 'required')) {
                    Password is required
                    }
                    @if (hasError(loginForm.controls.password, 'minlength')) {
                    Password must be at least 8 characters
                    }
                </div>
                }
            </div>

            <ng-container *ngTemplateOutlet="errorMessageTemplate"></ng-container>

            <button type="submit" class="submit-button" [disabled]="!loginForm.valid">
                Sign In
            </button>
        </form>
        } @else {
        <form class="form" [formGroup]="registerFrom" (ngSubmit)="onRegister()">
            <div class="form-field">
                <div class="form-field-container">
                    <input type="text" formControlName="username" placeholder="Username" class="form-input"
                        aria-label="Username" [ngClass]="{'is-invalid': hasError(registerFrom.controls.username)}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                    </div>
                </div>
                @if (hasError(registerFrom.controls.username)) {
                <div class="invalid-feedback">
                    @if (hasError(registerFrom.controls.username, 'required')) {
                    Username is required
                    }
                    @if (hasError(registerFrom.controls.username, 'minlength')) {
                    Username must be at least 4 characters
                    }
                    @if (hasError(registerFrom.controls.username, 'maxlength')) {
                    Username cannot exceed 35 characters
                    }
                </div>
                }
            </div>
            <div class="form-field">
                <div class="form-field-container">
                    <input type="email" formControlName="email" placeholder="Email" class="form-input"
                        aria-label="Email" [ngClass]="{'is-invalid': hasError(registerFrom.controls.email)}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                        </svg>
                    </div>
                </div>
                @if (hasError(registerFrom.controls.email)) {
                <div class="invalid-feedback">
                    @if (hasError(registerFrom.controls.email, 'required')) {
                    Email is required
                    }
                    @if (hasError(registerFrom.controls.email, 'email')) {
                    Please enter a valid email address
                    }
                </div>
                }
            </div>
            <div class="form-field">
                <div class="form-field-container">
                    <input type="password" formControlName="password" placeholder="Password" class="form-input"
                        aria-label="Password" [ngClass]="{'is-invalid': hasError(registerFrom.controls.password)}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                        </svg>
                    </div>
                </div>
                @if (hasError(registerFrom.controls.password)) {
                <div class="invalid-feedback">
                    @if (hasError(registerFrom.controls.password, 'required')) {
                    Password is required
                    }
                    @if (hasError(registerFrom.controls.password, 'minlength')) {
                    Password must be at least 8 characters
                    }
                </div>
                }
            </div>

            <ng-container *ngTemplateOutlet="errorMessageTemplate"></ng-container>

            <button type="submit" class="submit-button" [disabled]="!registerFrom.valid">
                Create Account
            </button>
        </form>
        }

        <button type="button" class="toggle-tab-button" (click)="toggleSignInTab(!signInTab())"
            [attr.aria-label]="signInTab() ? 'Switch to Register' : 'Switch to Sign In'">
            {{ signInTab() ? 'Create an account' : 'Already have an account?' }}
        </button>
    </div>
</div>

<ng-template #errorMessageTemplate>
    @if (errorMessage()) {
    <div class="error-message" role="alert">
        {{ errorMessage() }}
    </div>
    }
</ng-template>